div{
    text-align: left;
    line-height: 1.50em;
    font-family: Merriweather, sans-serif;
    margin-bottom: 20px;
    padding: 10px;
}

table{
  border: 5px solid green;
  font-family:  FiraSans, sans-serif;
  font-weight: 500;
}

h1, h3, h5{
    text-align: center;
    font-family: FiraSans, sans-serif;

p{
   font-family:  Merriweather, sans-serif;
}


}
.opening-paragraph{
    color: teal;
    font-size: 15px;
    text-indent: 20px;
    font-weight:400;
}

.opening-paragraph::first-letter{
    font-size: 35px;
}
.second-paragraph{
    color: blue;
    font-size: 15px;
}

.third-paragraph{
    color: green;
    font-size: 15px;
}

#book_info{
    text-decoration: overline;
    font-family: Merriweather, sans-serif;
}
#book_info:hover{
    font-family:  Merriweather, sans-serif;
    text-decoration: none;
    font-weight: 500;
}
