div{
    text-align: left;
    line-height: 1.50em;
    font-family: Merriweather, sans-serif;
    margin-bottom: 20px;
    padding: 10px;
}
h1, h3, h5{
    text-align: center;
    font-family: FiraSans, sans-serif;

}
.opening-paragraph{
    color: blue;
    font-size: 15px;
    text-indent: 20px;
    font-weight:400;
}

.opening-paragraph::first-letter{
    font-size: 35px;
}
.second-paragraph{
    font-size: 15px;
}

#book_info{
    text-decoration: none;
    font-family: Merriweather, sans-serif;
}
#book_info:hover{
    font-family:  Merriweather, sans-serif;
    text-decoration: underline;
    font-weight: 500;
}

table{
    border: 1px solid purple;
    font-family:  Arvo, sans-serif;
    font-weight: 700;
}

p{
    font-family:  Merriweather, sans-serif;
}
